# R
.Rproj.user
.Rhistory
.RData
.Ruserdata
.RDataTmp

# OS
.DS_Store

# Data and outputs
*.xlsx
*.xls
*.txt
*.png

# Folders
/outputs/

# Inputs: only track ref_data
/inputs/*
!/inputs/ref_data/
!/inputs/ref_data/**
